* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", serif;

  background-color: black;
}

.container {
  width: 60vw;
  height: 55vh;
  border-radius: 6px;
  margin: 4rem auto;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.advice-wrapper {
  width: 40%;
  height: 40%;
  font-size: 1.2rem;
  border-radius: 7px;
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#advice {
  margin-top: 2rem;
  text-align: center;
  width: 19rem;
  height: 11rem;
  color: hsl(193, 38%, 86%);
}
.adDiv p q {
  padding: 20px 30px;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
}

label {
  color: hsl(150, 100%, 66%);
  font-size: 0.6rem;
  letter-spacing: 0.8;
}

span {
  color: hsl(150, 100%, 66%);
  font-size: 0.6rem;
  letter-spacing: 0.6;
}
.divider > img {
  width: 100%;
}

#getAdviceBtn {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  position: absolute;
  top: 75%;
  left: 48%;
}

#getAdviceBtn > img {
  width: 20px;
  height: 20px;
}

#getAdviceBtn:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 7px 29px 0px;
}

.attribution {
  font-size: 8px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  .container {
    height: 100vh;
    width: 50vw;
  }

  .advice-wrapper {
    width: 90%;
    height: 48%;
    font-size: 1rem;
    margin: 3rem auto;
  }
  #formbtn {
    position: absolute;
    top: 72%;
    left: 45%;
  }
}
